*{
    margin: 0;
    padding: 0;
    font-family: serif;
}


.our_team{
    overflow: hidden;
    text-align: center;
    background: #F5F5DC;
    padding: 60px;
}
.our_team h1{
    text-transform: uppercase;
    color: black;
    margin-bottom: 50px;
    font-size: 50px;
}
.pic{
    margin-bottom: 40px;
}
.pic a{
    display: inline-block;
    margin: 0 30px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%

}
.pic a img{
    width: 100%;
    filter: grayscale(100%);
}
.pic a:hover > img{
    filter: none;
}
.text{
    width: 500px;
    margin: auto;
    font-size: 20px;
    color: black;
    text-align: justify;
    height: 0;
    overflow: hidden;
}
.outer{
    display: block;
    margin: auto;
    width:1000px;
    height:3px;
    background: #111111;
    margin-bottom: 50px;
}
.name{

    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;

}
.text:target{
    height: auto;
}
.artclie{
    overflow: hidden;
    text-align: center;
    background: #F5F5DC;
    padding: 60px;

}
body{
    overflow-y: auto
    text-align: center;
    background: #F5F5DC;
    width: 90%;
    height: 90%;
    margin: auto;
    font-size: 20px;
    color: black;
    text-align: justify;

}
.about_curate h2{
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-bottom: 50px;
    font-size: 50px;
}
.about_curate h1{
    text-align: justify;
    text-transform: uppercase;
    color: black;
    margin-bottom: 30px;
    font-size: 30px;
}
.about_curate {
    overflow: hidden;
    background: #F5F5DC;
    padding: 60px;
}
.project_plan{
    overflow: hidden;
    padding: 60px;

}
.project_plan h3{
    text-align: justify;
    text-transform: uppercase;
    color: black;
    margin-bottom: 30px;
    font-size: 30px;
}
.project_plan h1{
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-bottom: 50px;
    font-size: 50px;
}
.specifications{
    overflow: hidden;
    padding: 60px;
}
.specifications h5{
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-bottom: 50px;
    font-size: 50px;
}
.specifications h1{
    text-align: justify;
    text-transform: uppercase;
    color: black;
    margin-bottom: 30px;
    font-size: 30px;
}
.pitch{
    overflow: hidden;
    padding: 60px;

}
.pitch h1{
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-bottom: 50px;
    font-size: 50px;

}
.pitch h2{
   text-align: justify;
    text-transform: uppercase;
    color: black;
    margin-bottom: 30px;
    font-size: 30px;
}
.container{
    width: 80%;
    margin: 0 auto;

}
header{
    background: #98FF98;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin: 0 20px;
}
.brand{
    overflow: hidden;
    padding: 60px;

}
.brand h1{
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-bottom: 50px;
    font-size: 50px;

}
.brand h2{
   text-align: justify;
    text-transform: uppercase;
    color: black;
    margin-bottom: 30px;
    font-size: 30px;
}
